<div class="container-scroller" id="app">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper" style="margin-top: 70px;">
    <settings-panel></settings-panel>
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <dashboard-header className="mdi mdi-home" pageName="Tableau de bord"></dashboard-header>
        <app-card></app-card>
        <app-line-chart></app-line-chart>
        <app-basic-table></app-basic-table>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>