<div class="container-scroller" id="app">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper" style="margin-top: 70px;">
      <settings-panel></settings-panel>
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <dashboard-header className="mdi mdi-account-multiple-outline" pageName="Utilisateur"></dashboard-header>
          <user-datatable [users$]="users$"></user-datatable>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>